/*
    blog.csdn.net
*/
.nodata .container {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

.nodata .container main {
    width: 100%
}

main {
    max-width: 100%
}



/*
    www.zhihu.com
*/
.Question-main {
    width: 80%;
}

.Question-mainColumn {
    width: 100%;
}