@-moz-document domain("blog.csdn.net") {
/*
    blog.csdn.net
*/
.nodata .container {
    width: 100%;
    margin-right: 0%;
}

.nodata .container main {
    width: 100%
}
}

@-moz-document domain("www.zhihu.com") {
/*
    www.zhihu.com
*/
.Question-main {
    width: 80%;
}

.Question-mainColumn {
    width: 100%;
}
}

@-moz-document domain("zhuanlan.zhihu.com") {
/*
    zhuanlan.zhihu.com
*/
.Post-NormalMain > div,
.Post-NormalSub > div {
    width: 65%;
}

.Post-NormalMain .Post-Header {
    width: 65%;
}
}